{# ============================================================================================= #}
{# LOAD PACKAGES =============================================================================== #}
{# ============================================================================================= #}
{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ============================================================================================= #}
{# LOAD STYLESHEET ============================================================================= #}
{# ============================================================================================= #}
{% block styles %}

    <link href="{% static 'bos_new_survey/css/style.css' %}" rel="stylesheet"/>

{% endblock %}


{# ============================================================================================= #}
{# PAGE HEADING ================================================================================ #}
{# ============================================================================================= #}
{% block title %}

    {% trans "インストラクション（ボストン方式・意向調査あり）" %}

{% endblock %}


{# ============================================================================================= #}
{# PAGE CONTENT ================================================================================ #}
{# ============================================================================================= #}
{% block content %}

<p class="justify">
    {% blocktrans trimmed %}

<p class="heading">
  実験の概要
</p>

<<ol>
  <li>みなさんには学生の役を演じてもらいます。</li>
  <li>このゲームは５人で行います（１０人の場合は、２グループにランダムに分けられます）。）</li>
  <li>５人の学生たちは、３つの学校から進学先を選びます。３つの学校には定員（合計で５名）があります。</li>
  <li>また、学校はこの５人の学生のうち誰を受け入れたいかの優先順位を持っています。この優先順位は学生には公表されません。</li>
  <li>次に、進学したい学校の<strong>希望順位</strong>を選択してもらいます。この希望順位は他の参加者には知らされません。</li>
  <li>この希望順位にしたがって、後で説明する方法によって進学先が決定されます。</li>
</ol>>

　以上で実験終了です。


<p class="headng">

  ボストン方式における進学先の決定方法
 </p>

<br/>

<strong>第１ラウンド:</strong>

<p>
まず、みなさんが提出した希望順位表の１番目の学校に願書を送ります。各学校は受け入れの優先順位にしたがって志願者を順序付けし、上位の者から定員が満たされるまで学生を受け入れます。定員からあふれた学生は次のラウンドに回ります。
</p>

<br/>

<strong>第 2 ラウンド:</strong>
<p>
あふれた学生は希望順位表の2番目の学校に願書を出します。学校側は定員にあまりがある場合、今回新たに願書を受け付けた学生を優先順位によって順序付けし、上位の者から定員がいっぱいになるまで学生を受け入れます。定員からあふれた学生は、さらに次のラウンドにまわされます。
</p>

<strong>選抜の終了:</strong>
<p>
  このプロセスを繰り返し、定員からあふれた学生がいなくなった時点で選抜は終了します。割り当てられた学校が決まり、追加報酬の額が決定されます。</p>

<p>このインストラクションの最後にこの進学先の決定方法の例を載せています。</p>

{% endblocktrans %}
</p>

  <p class="heading">
    謝礼金について
  </p>

<p>みなさん全員には３２０円支払われます。それに加えて追加で謝礼金が出ます。みなさんには以下の<strong>利得表</strong>が示されます。みなさんの利得表は必ずしも同じではありません。割り当てられた進学先により追加ポイントが決まります。１ポイントは１円に換算されます。</p>

<div>
    <table class="dec-table">
        <thead>
        <tr>
            <th>{% trans "学校名" %}</th>
            {% for i in indices %}
            <td>{% trans "S" %}<sub>{{ i }}</sub>校</td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                {% trans "進学した場合の利得" %}
                {% if Constants.show_types and Constants.nr_types > 1 %}
                <br/>({% trans "You are"  %} {{ player.role }})
                {% endif %}
            </th>
            <td>{{ 750|c }}</td> <td>{{ 150|c }}</td> <td>{{ 450|c }}</td>
        </tr>
        </tbody>
    </table>
</div>

<br/>

<p>
この利得表を持つ人が最終的に学校 S<sub>3</sub> に割り当てられた場合、報酬は320+720=1,040円となります。
</p>

<br/>

<hr width="100%" noshade>

<p class="heading">
  ボストン方式の進学割り当ての例
</p>

<p>どのように進学先が決まるかの例を以下に示します。</p>

<p>学生１～学生４の4人の学生（今回の実験は1グループ5人で行ないますが、説明の便宜上ここでは4人の設定で説明します）が３つの学校 S<sub>1</sub>, S<sub>2</sub>, S<sub>3</sub>から進学先を選びます。定員はS<sub>1</sub>, S<sub>2</sub>, S<sub>3</sub>合わせて4人です（S<sub>1</sub>は 2 人、S<sub>2</sub>とS<sub>3</sub>は 1 人ずつ）。</p>


<p><strong>学校の希望順位</strong></p>

<p>学生1・2・3・4の提出した希望順位表は以下の表のとおりだとします。（実験参加者には他の参加者の情報は公表されません）</p>

<div>
    <table class="instr-table">
      <thead>
      <tr>
        <th></th>
        <th>{% trans "第１希望" %}</th>
        <th>{% trans "第２希望" %}</th>
        <th>{% trans "第３希望" %}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{% trans "学生" %} 1</td>
        <td>S<sub>2</sub></td>
        <td>S<sub>3</sub></td>
        <td>S<sub>1</sub></td>
      </tr>
      <tr>
        <td>{% trans "学生" %} 2</td>
        <td>S<sub>1</sub></td>
        <td>S<sub>2</sub></td>
        <td>S<sub>3</sub></td>
      </tr>
      <tr>
        <td>{% trans "学生" %} 3</td>
        <td>S<sub>3</sub></td>
        <td>S<sub>1</sub></td>
        <td>S<sub>2</sub></td>
      </tr>
      <tr>
        <td>{% trans "学生" %} 4</td>
        <td>S<sub>3</sub></td>
        <td>S<sub>2</sub></td>
        <td>S<sub>1</sub></td>
      </tr>
      </tbody>
    </table>

    <br/>

<p><strong>各学校における学生の選抜基準</strong></p>

<p>学校S<sub>1</sub>・S<sub>2</sub>・S<sub>3</sub>の選抜基準は以下の表のとおりだとします。（実際の選択基準とは異なります）</p>

<table class="instr-table">
      <thead>
      <tr>
        <th></th>
        <th>{% trans "第１位" %} </th>
        <th>{% trans "第２位" %} </th>
        <th>{% trans "第３位" %} </th>
        <th>{% trans "第４位" %} </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{% trans "学校S<sub>1</sub>" %}</td>
        <td>学生１</td>
        <td>学生２</td>
        <td>学生４</td>
        <td>学生３</td>
      </tr>
      <tr>
        <td>{% trans "学校S<sub>2</sub>" %}</td>
        <td>学生２</td>
        <td>学生４</td>
        <td>学生１</td>
        <td>学生３</td>
      </tr>
      <tr>
        <td>{% trans "学校S<sub>3</sub>" %}</td>
        <td>学生１</td>
        <td>学生３</td>
        <td>学生４</td>
        <td>学生２</td>
      </tr>
      </tbody>
    </table>
</div>

<br/>

<p>たとえば、学校S<sub>1</sub>は学生たちを1,2,4,3 の順に高く評価しており、この順序の上位の者から優先的に受け入れます。</p>


<p><strong>進学先の割り当て方法</strong></p>

<p><b>第１回目の選抜</b></p>

<p>まず学生は上にある希望順位の表の中で1番目の学校に願書を送ります。具体的には、学生１は学校S<sub>2</sub>に願書を送り、学生２は学校S<sub>1</sub>に願書を送り、学生３は学校S<sub>3</sub>に願書を送り、学生４は学校S<sub>3</sub>に願書を送ります。</p>

<p>学校S<sub>1</sub>は学生2を受け入れ、学校S<sub>2</sub>は学生1を受け入れます。学校S<sub>3</sub>は定員1人ですが学生３と学生４が願書を送ってきているので、上の選抜基準に従って上位にある学生３を受け入れ、学生４は次の選抜に回されます。</p>

<div>
  <table class="instr-table">
      <thead>
      <tr>
        <th></th>
        <th>{% trans "第１位" %} </th>
        <th>{% trans "第２位" %} </th>
        <th>{% trans "第３位" %} </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{% trans "学校S<sub>1</sub>" %}</td>
        <td>学生２</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>{% trans "学校S<sub>2</sub>" %}</td>
        <td>学生１</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>{% trans "学校S<sub>3</sub>" %}</td>
        <td>学生３</td>
        <td>学生４（次に回される）</td>
        <td></td>
      </tr>
      </tbody>
    </table>

</div>

<br/>

<p><b>第２回目の選抜</b></p>
<p>第１回目の選抜で次に回された学生4は第2希望の学校S<sub>2</sub>に願書を出します。
学校S<sub>2</sub>の定員は1人で、すでに埋まっているため新たに願書は受け付けられず、学生４は次の選抜に回されます。</p>

<div>
  <table class="instr-table">
      <thead>
      <tr>
        <th></th>
        <th>{% trans "第１位" %} </th>
        <th>{% trans "第２位" %} </th>
        <th>{% trans "第３位" %} </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{% trans "学校S<sub>1</sub>" %}</td>
        <td><b>学生２</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>{% trans "学校S<sub>2</sub>" %}</td>
        <td><b>学生１</b></td>
        <td>学生４（次に回される）</td>
        <td></td>
      </tr>
      <tr>
        <td>{% trans "学校S<sub>3</sub>" %}</td>
        <td><b>学生３</b></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

</div>


<p><b>第３回目の選抜</b></p>
<p>第２回目の選抜で次に回された学生４は第３希望の学校S<sub>1</sub>に願書を出します。
学校S<sub>1</sub>の定員は２人なので、学生４を受け入れられ、定員からあふれた学生はいなくなったので選抜は終了し、割り当てが決定します。</p>

<div>
  <table class="instr-table">
      <thead>
      <tr>
        <th></th>
        <th>{% trans "第１位" %} </th>
        <th>{% trans "第２位" %} </th>
        <th>{% trans "第３位" %} </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{% trans "学校S<sub>1</sub>" %}</td>
        <td><b>学生２</b></td>
        <td><b>学生４（確定）</b></td>
        <td></td>
      </tr>
      <tr>
        <td>{% trans "学校S<sub>2</sub>" %}</td>
        <td><b>学生１</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>{% trans "学校S<sub>3</sub>" %}</td>
        <td><b>学生３</b></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

</div>


<br/>

<p class="justify">
    {% blocktrans trimmed %}
    「次へ」のボタンをクリックして次に進んでください。
    {% endblocktrans %}
</p>

{% next_button %}

{% endblock %}
