{# ============================================================================================= #}
{# LOAD PACKAGES =============================================================================== #}
{# ============================================================================================= #}
{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ============================================================================================= #}
{# LOAD STYLESHEET ============================================================================= #}
{# ============================================================================================= #}
{% block styles %}

    <link href="{% static 'bos/css/style.css' %}" rel="stylesheet"/>

{% endblock %}


{# ============================================================================================= #}
{# PAGE HEADING ================================================================================ #}
{# ============================================================================================= #}
{% block title %}

    {% trans "割り当ての結果（ボストン方式・意向調査あり）" %}

{% endblock %}


{# ============================================================================================= #}
{# PAGE CONTENT ================================================================================ #}
{# ============================================================================================= #}
{% block content %}

<div>
    <table class="dec-table">
        <thead>
        <tr>
            <th>{% trans "" %}</th>
            {% for i in indices %}
            <td>S<sub>{{ i }}</sub></td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                {% trans "進学した場合の利得" %}
                {% if Constants.show_types and Constants.nr_types > 1 %}
                <br/>({% trans "You are"  %} {{ player.role }})
                {% endif %}
            </th>
            {% for i in valuations %}
            <td>{{ i|c }}</td>
            {% endfor %}
        </tr>
        {% if Constants.show_capacities %}
        <tr>
            <th>{% trans "定員" %}</th>
            {% for i in capacities %}
            <td>{{ i }}</td>
            {% endfor %}
        </tr>
        {% endif %}
        <tr>
            <th>{% trans "あなたの意向:" %}</th>
            {% for i in player_intents %}
            <td>{{ i }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{% trans "意向調査で１位とした人数:" %}</th>
            {% for i in first_choices %}
            <td>{{ i }} 人</td>
            {% endfor %}
        </tr>

        </tbody>
    </table>
</div>

<br/>

{% next_button %}

{% endblock %}
