{# ============================================================================================= #}
{# LOAD PACKAGES =============================================================================== #}
{# ============================================================================================= #}
{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ============================================================================================= #}
{# LOAD STYLESHEET ============================================================================= #}
{# ============================================================================================= #}
{% block styles %}

    <link href="{% static 'bos/css/style.css' %}" rel="stylesheet"/>

{% endblock %}


{# ============================================================================================= #}
{# PAGE HEADING ================================================================================ #}
{# ============================================================================================= #}
{% block title %}

    {% trans "割り当ての結果（ボストン方式・意向調査あり）" %}

{% endblock %}


{# ============================================================================================= #}
{# PAGE CONTENT ================================================================================ #}
{# ============================================================================================= #}
{% block content %}

<p class="justify">
  {% blocktrans trimmed %}
  進学したい学校の意向（3つの学校の順序）を記入してください。
  この意向調査の内容は実際の進学先の決定とは関係ありません。
  意向の１位の集計結果は、みなさんに公表されます。記入する際には 1 〜 3 の異なる数字を入力してください。
  {% endblocktrans %}
</p>


<div>
    <table class="dec-table">
        <thead>
        <tr>
            <th>{% trans "学校" %}</th>
            {% for i in indices %}
            <td>
                {% if Constants.application_framing %}
                {% trans "S" %}
                {% else %}
                {% trans "S" %}
                {% endif %}
                <sub>{{ i }}</sub>
            </td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                {% trans "進学した場合の利得" %}
                {% if Constants.show_types and Constants.nr_types > 1 %}
                <br/>({% trans "You are"  %} {{ player.role }})
                {% endif %}
            </th>
            {% for i in valuations %}
            <td>{{ i|c }}</td>
            {% endfor %}
        </tr>
        {% if Constants.show_priorities %}
        <tr>
            {% if Constants.application_framing %}
            <th>{% trans "Schools' priorities<br/>(... out of" %} {{ players_per_group }})</th>
            {% else %}
            <th>{% trans "Resources' priorities<br/>(... out of" %} {{ players_per_group }})</th>
            {% endif %}
            {% for i in priorities %}
            <td>{{ i }}</td>
            {% endfor %}
        </tr>
        {% endif %}
        {% if Constants.show_capacities %}
        <tr>
            <th>{% trans "定員" %}</th>
            {% for i in capacities %}
            <td>{{ i }}</td>
            {% endfor %}
        </tr>
        {% endif %}
        <tr>
            <th>{% trans "あなたの意向" %}</th>
            {% for i in form_fields %}
            <td><input class="pref-form" id="{{ i }}" type="number" name="{{ i }}" value="" maxlength="3">
            </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>

{% if Constants.show_valuations and Constants.show_types and Constants.nr_types > 1 %}
<p class="justify">
    {% blocktrans trimmed %}
        In addition, you know the valuations of the other Types:
    {% endblocktrans %}
</p>

<div>
    <table class="dec-table">
        <thead>
        <tr>
            <th>{% trans "Index" %}</th>
            {% for i in indices %}
            <td>
                {% if Constants.application_framing %}
                {% trans "S" %}
                {% else %}
                {% trans "S" %}
                {% endif %}
                <sub>{{ i }}</sub>
            </td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for type, valuations in valuations_others %}
            <tr>
                <th>{% trans "Potential Payoff<br/>for" %} {{ type }}</th>
                {% for v in valuations %}
                <td>{{ v|c }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br/>
{% endif %}

<br/>
{% if Constants.confirm_button %}
<div>
    <button id="button" class="btn btn-primary btn-large"  type="button" onclick="showhide()">次へ</button>

    <br/><br/>

    <div id="confirm_next" style="display: none">
        {% trans "この入力内容でよろしいですか？" %}

        <br/><br/>

        <button id="button_confirm" class="btn btn-primary btn-large" >{% trans "Yes" %}</button>
    </div>
</div>

{% else %}

{% next_button %}

{% endif %}

{% endblock %}


{# ============================================================================================= #}
{# JAVASCRIPTS ================================================================================= #}
{# ============================================================================================= #}
{% block scripts %}

<script>
     function showhide()
     {
           var div = document.getElementById("confirm_next");
            div.style.display = "block";
     }
</script>

{% endblock %}
