{# ============================================================================================= #}
{# LOAD PACKAGES =============================================================================== #}
{# ============================================================================================= #}
{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ============================================================================================= #}
{# LOAD STYLESHEET ============================================================================= #}
{# ============================================================================================= #}
{% block styles %}

    <link href="{% static 'bos_new_survey/css/style.css' %}" rel="stylesheet"/>

{% endblock %}


{# ============================================================================================= #}
{# PAGE HEADING ================================================================================ #}
{# ============================================================================================= #}
{% block title %}

        {% trans "引き続き終了アンケートにご参加ください" %}

{% endblock %}


{# ============================================================================================= #}
{# PAGE CONTENT ================================================================================ #}
{# ============================================================================================= #}
{% block content %}


<p class="heading">
    {% trans "報酬の説明もアンケートの最後にあります。下のアンケートはこちらからをクリックしてください。" %}
</p>

<p>

<a href="https://docs.google.com/forms/d/e/1FAIpQLSdeoD5k-cowTchEz1JSC7VLYD9TBsGJEhRBJhwOC28Qb9lPgQ/viewform?usp=pp_url">アンケートはこちらから</a>

</p>

{% endblock %}
